<app-header></app-header>
<div class="container fill">
    <form (ngSubmit)="create(modalData)" #walletForm="ngForm">
        <p class="h2">Wallet creation</p>
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="wallet.name" required class="form-control" id="walletName" name="walletName" maxlength="255" placeholder="my wallet" #walletName="ngModel">
            <label for="walletName" class="form-label">Wallet Name</label>
            <div *ngIf="walletName.invalid && (walletName.dirty || walletName.touched)" [hidden]="validation('name').valid" class="alert alert-danger">
                {{validation('name').message}}
              </div>
        </div>
    
          <div class="mb-3">
            <label for="mnemonic" class="form-label">Mnemonic phrase</label>
            <div class="row">
              <div class="col-md-6" *ngFor="let item of mnemonics;let i = index; trackBy: trackByFn;">
                <label for="'mnemonic-' + i" class="form-label">{{i+1}}:</label>
                <input type="text" [readonly]="!recoveryMode" required name="{{'mnemonic-' + i}}" [(ngModel)]="mnemonics[i].word">
              </div> 
            </div>
          </div>

          <div class="mb-3">
            <button type="button" class="btn btn-info" (click)="setMnemonic()">Set mnemonic phrase</button>
          </div>
    
          <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="wallet.password" required maxlength="255" class="form-control" id="password" name="password" placeholder="my password" minlength="10" #password="ngModel">
            <label for="password" class="form-label">Wallet Password</label>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" [hidden]="validation('password').valid" class="alert alert-danger">
              {{validation('password').message}}
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="confirmationPassword" required maxlength="255" class="form-control" id="confirmationPassword" name="confirmationPassword" placeholder="Confirm your password">
            <label for="confirmationPassword" class="form-label">Confirm the Password</label>
            <div [hidden]="confirmationPasswordValid" class="alert alert-danger">
                Password doesn't match
            </div>
        </div>
    
          <div class="modal-footer">
            <button type="button" class="btn btn-info" (click)="reset()">Reset</button>
            <button type="submit" class="btn btn-success" [disabled]="!walletForm.form.valid" (click)="create(modalData)">Create</button>
          </div>
    </form>
</div>
<app-footer></app-footer>

<ng-template #modalData let-modal let-c="close" let-d="dismiss">
  <div class="container">
    <div class="mb-3">
        <label for="confirmationMnemonic" class="form-label">Confirm the mnemonic phrase in the correct order</label>
    </div>
      <div class="mb-3">
        <label for="mnemonic" class="form-label">Mnemonic phrase</label>
        <div class="row">
          <div class="col-md-6" *ngFor="let item of confirmationMnemonic;let i = index; trackBy: trackByFn;">
            <label for="'mnemonic_' + i" class="form-label">{{i+1}}: &nbsp;</label>
            <input type="text" required [name]="'mnemonic_' + i" [(ngModel)]="item.word">
          </div> 
        </div>
      </div>
      <div [hidden]="confirmationMnemonicValid" class="alert alert-danger">
        This is wrong, please verify your seed phrase otherwise you can't recover this wallet.
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="confirmMnemonic()">Confirm</button>
    </div>
  </div>
</ng-template>