<app-header></app-header>
<div class="container fill">
  <div *ngIf="wallet == null">
    <p>
      <ngb-alert [dismissible]="false">
        <strong>Not found!</strong> You have no wallet created already, please recover/create your wallet. Test Net address only.
      </ngb-alert>
    </p>
    <p>
      <button class="btn btn-info" (click)="createWallet()">Create/Recover Wallet</button>
    </p>
  </div>
  <div class="row mb-5">
    <div class="col-sm-6">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ user.photoUrl }}" alt="User picture">
        <div class="card-body">
          <p class="card-text">{{ user.email }}</p>
          <h4>{{ user.name }}</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          Network Information
        </div>
        <app-network-information></app-network-information>
      </div>
    </div>
  </div>
  <div *ngIf="wallet != null" class="row mb-5">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          Wallet: {{wallet.name}}
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">Status: <span class="badge bg-secondary badge-pill">{{wallet.state.status}}</span></li>
          </ul>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Balance
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center">Reward: <span class="badge bg-secondary badge-pill">{{wallet.balance.reward.quantity}}</span></li>
              <li class="list-group-item d-flex justify-content-between align-items-center">Total: <span class="badge bg-secondary badge-pill">{{wallet.balance.total.quantity}}</span></li>
              <li class="list-group-item d-flex justify-content-between align-items-center">Available: <span class="badge bg-secondary badge-pill">{{wallet.balance.available.quantity}}</span></li>
            </ul>
            <p class="card-text"></p>
          </div>
        </div>
    </div>
  </div>

  <div class="accordion" id="accordionExample" *ngIf="wallet != null">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Addresses
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul class="list-group list-group-flush">
            <li *ngFor="let address of addresses;let i = index;" style="cursor: pointer;" (click)="showAddress(address)" class="list-group-item d-flex justify-content-between align-items-center">{{address.id}}<span class="badge bg-secondary badge-pill">{{address.state}}</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Recent Transactions
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>